<button type="button" (click)="onClicked($event)" class="text-white bg-gradient-to-r from-cyan-500 to-blue-500 hover:bg-gradient-to-bl focus:ring-4 focus:outline-none focus:ring-cyan-300 dark:focus:ring-cyan-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2">refresh</button>
<!-- https://flowbite.com/docs/components/buttons/ -->
<div *ngIf="records$ | async as records; else loading">
  <pre>{{ records.length }} in total</pre>
  <pre>{{ records | json }}</pre>
</div>

<ng-template #loading>
  <div class="my-4 mx-4 bg-yellow-200"><p class="font-serif italic">loading ...</p></div>
</ng-template>
