<th class="text-center">{{ record.id }}</th>
<td class=""><input type="checkbox" name="isCompleted" [checked]="record.isCompleted" (change)="onToggle($event)" [disabled]="lock" class="checkbox" /></td>
<td class="text-xl text-left font-serif">
  <span [attr.contenteditable]="!lock"
    [textContent]="record.content"
    (blur)="onBlur($event)"
    [class.completed]="record.isCompleted"
    class="break-words"></span>
</td>
<td class="text-right"><button (click)="onDelete($event) " [disabled]="lock" class="btn btn-ghost">✕</button></td>
