<div class="w-[600px] bg-gray-200 rounded-2xl p-4">
  <h2 class="text-4xl font-bold m-4">Todo*</h2>
  <div id="filter-bar" *ngIf="filter$ | async as filter" class="text-right">
    <select class="select" (change)="updateFilter($event)">
      <option value="all" [selected]="filter==='all'">all</option>
      <option value="completed" [selected]="filter==='completed'">completed</option>
      <option value="uncompleted" [selected]="filter==='uncompleted'">uncompleted</option>
    </select>
  </div>
  <div id="table" class="my-4 overflow-x-auto">
  <ng-container *ngIf="todos$ | async as todos">
    <table class="table table-fixed w-full">
      <!-- head -->
      <thead>
        <tr class="">
          <th class="text-xl w-4 text-center">#</th>
          <th class="w-4"></th>
          <th class="text-xl w-36 text-center">content</th>
          <th class="w-4"></th>
        </tr>
      </thead>
      <tbody>
        <!-- rows -->
        <tr app-todo-card-row
          *ngFor="let todo of todos; trackBy: trackById; index as i"
          [record]="todo"
          (updatedRecord)="onUpdatedRecord($event)"
          (deletedRecord)="onDeletedRecord($event)"
          class="border-y-2 border-yellow-50">
        </tr>
      </tbody>
    </table>
  </ng-container>
  </div>
  <div id="add-bar">
    <form (ngSubmit)="onSubmit()" class="flex">
      <input type="text" name="content" [(ngModel)]="todo.content" placeholder="Type here" class="input font-serif flex-auto" />
      <input type="checkbox" name="isCompleted" [(ngModel)]="todo.isCompleted" [disabled]="lock" class="checkbox checkbox-md place-self-center mx-4" />
      <button type="submit" [disabled]="lock" class="btn btn-ghost">Submit</button>
    </form>
  </div>
<!--
  <div id="peak" class="bg-slate-400 mt-4">
    <pre *ngIf="todos$ | async as todos">{{ todos | json }}</pre>
  </div>
-->
</div>

